version: '3'

services:
  nginx:
    image: nginx:latest
    container_name: "nginx"
    volumes:
      - ./nginx-conf:/etc/nginx
      - ./nginx-files:/usr/share/nginx
      - ./certificados:/certs
    ports:
      - "80:80"
      - "443:443"


  